.sidebar-logo {
	margin-right: auto;
}

.menu {
	list-style: none;
	margin: 0;
	margin-bottom: 25px;

	li {
		&:not(:last-child) {
			margin-bottom: 10px;
		}

		a {
			text-decoration: none;
			font-weight: 500;

			&:hover {
				color: #0082FB;
			}
		}
	}
}

.contact-item {
	&:first-child {
		margin-bottom: 10px;
	}

	display: flex;
	align-items: flex-start;
	column-gap: 10px;

	span {
		margin-top: 5px;
		font-size: 20px;
	}

	h4 {
		font-size: 18px;
		font-weight: 500;
	}

	a {
		text-decoration: none;
		color: #0082FB;
	}
}

p-sidebar {
	width: 100%;
}