.container {
	display: flex;
	align-items: center;
	height: 100vh;
}

.login-wrap {
	width: 100%;
	height: 90vh;
	background: linear-gradient(185.83deg, rgb(0, 128, 247) 21.686%, rgb(0, 84, 161) 97.901%);
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0.5px;

	.login-about {
		display: flex;
		align-items: center;
		justify-content: space-evenly;
		flex-direction: column;
		height: 100%;

		h2 {
			color: rgb(255, 255, 255);
			font-size: 44px;
			font-weight: 700;
			line-height: 66px;
			letter-spacing: 0%;
			text-align: center;
		}
	}

	.login-form {
		border-radius: 50px 0 0 50px;
		background: rgb(255, 255, 255);
		width: 100%;
		max-width: 1200px;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;

		.form-series {
			width: 100%;
			max-width: 570px;
		}
	}
}

.login-form {
	.form-series {
		h2 {
			color: rgb(51, 51, 51);
			font-size: 44px;
			font-weight: 700;
			line-height: 66px;
			letter-spacing: 0%;
			text-align: center;
		}
	}
}

.login-about {
	.login-about__icon {
		border-radius: 0px 120px 120px 0px;
		background: rgb(255, 255, 255);
		width: 303px;
		height: 303px;
		flex-shrink: 0;
		padding: 70px;
		img {
			width: 100%;
			height: 100%;
		}
	}
}