<div class="container">
	<div class="page-title-block">
		<h1>Yangliklar</h1>
		<h3>Nexus School - Bizning markazimiz 2021-yil 30- sentyabrda tashkil etilgan. Mana shu davr <br> mobaynida Harvard
			School o’quv markazi shiddat bilan rivojlanib bormoqda. Bu yerda muhit, <br> ta’lim olish borasidagi.</h3>
	</div>
	<div class="news-cards">
		<div class="card">
			<div class="card-data">
				<h1>25</h1>
				<h1>Iyul</h1>
			</div>
			<img src="assets/images/news1.png" alt="news blog img">
			<div class="card-about">
				<div class="card-about__head">
					<div class="item">
						<img src="assets/images/user.svg" alt="news icon">
						<span>Admin</span>
					</div>
					<div class="item">
						<img src="assets/images/message.svg" alt="news icon">
						<span>2ta izoh</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>