<div class="h180"></div>
<div class="container">
	<div data-aos="fade-up" class="" [ngClass]="[$header.image? 'doctor-detail':'page-title-block']">
		<img *ngIf="$header.image" [src]="getView($header.image)" alt="" class="doctor-detail__img">
		<h1 [innerHTML]="$header.title"></h1>
		<h3 [innerHTML]="$header.descr"></h3>
	</div>
	<div class="service-cards grid row-gap-3 lg:row-gap-5">
		<ng-container *ngFor="let item of $service | async">
			<div class="col-12 md:col-6 lg:col-4 px-3">
				<div class="def-card" data-aos="fade-up">
					<div class="card-about">
						<div class="card-icon">
							<img [src]="getView(item.image!)" alt="service card icon">
						</div>
						<h2 class="ellipsis_1">{{item.name}}</h2>
						<h4 class="ellipsis_2" [innerHTML]="item.descr"></h4>
					</div>
					<button [routerLink]="['/appointment', item.id]" type="button" class="mc-btn">Konsultatsiyaga
						yozilish</button>
				</div>
			</div>
		</ng-container>
		<ng-container *ngIf="!($service | async)">
			<div class="spinner">
				<p-progressSpinner ariaLabel="loading" />
			</div>
		</ng-container>
	</div>
</div>