<div class="footer-top">
	<div class="footer-top__wrap">
		<h1>Savolingiz bormi?</h1>
		<div class="footer-top__contact">
			<div class="top__contact-tel">
				<div class="tel-icon">
					<img src="assets/images/footer-top__tel.svg" alt="tel icon">
				</div>
				<div class="tel-numb">
					<a href="tel:+998997111122">+998 (99) 711 1122</a>
					<p>Biz bilan bog’laning</p>
				</div>
			</div>
			<button type="submit">Xabar yuborish</button>
		</div>
	</div>
</div>
<footer>
	<div class="container">
		<div class="footer-wrap">
			<div class="footer-left">
				<a routerLink="">
					<img src="assets/images/logo.png" alt="logo">
				</a>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
					standard dummy text ever since the
				</p>
			</div>
		</div>
	</div>
</footer>