<div class="footer-top">
	<div class="footer-top__wrap">
		<h1>Savolingiz bormi?</h1>
		<div class="footer-top__contact">
			<div class="top__contact-tel">
				<div class="tel-icon">
					<img src="assets/images/footer-top__tel.svg" alt="tel icon">
				</div>
				<div class="tel-numb">
					<a href="tel:+998997111122">+998 (99) 711 1122</a>
					<p>Biz bilan bog’laning</p>
				</div>
			</div>
			<button type="submit">Xabar yuborish</button>
		</div>
	</div>
</div>
<footer>
	<div class="container">
		<div class="footer-wrap">
			<div class="footer-left">
				<a routerLink="" class="footer-lofo">
					<img src="assets/images/logo.png" alt="logo">
				</a>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
					standard dummy text ever since the
				</p>
			</div>
			<div class="footer-series">
				<ul class="series__item">
					<li>
						<h2>Havolalar</h2>
					</li>
					<li><a routerLink="">Biz haqimizda</a></li>
					<li><a routerLink="">Fotolavhalar</a></li>
					<li><a routerLink="">Fotolavhalar</a></li>
					<li><a routerLink="">Fotolavhalar</a></li>
					<li><a routerLink="">Fotolavhalar</a></li>
				</ul>
				<ul class="series__item">
					<li>
						<h2>Havolalar</h2>
					</li>
					<li><a routerLink="">Biz haqimizda</a></li>
					<li><a routerLink="">Fotolavhalar</a></li>
					<li><a routerLink="">Fotolavhalar</a></li>
					<li><a routerLink="">Fotolavhalar</a></li>
					<li><a routerLink="">Fotolavhalar</a></li>
				</ul>
				<ul class="series__item">
					<li>
						<h2>Biz bilan bog'lanish</h2>
					</li>
					<li><a routerLink="">globalhealthcare&#64;gmail.com</a></li>
					<li><a routerLink="">+998(99) 111 22 33</a></li>
					<li><a routerLink="">Toshkent sh,</a></li>
					<li><a routerLink="">Obuna bo’ling</a></li>
				</ul>
			</div>
		</div>
		<span class="footer-line"></span>
	</div>
</footer>