<swiper-container [slidesPerView]="3" [spaceBetween]="60" autoplay="true" fade="true" [loop]="true"
	[slidesPerView]="3.8">
	<swiper-slide>
		<div class="card">
			<div class="user-card">
				<img src="assets/images/doctor.png" alt="doctor img">
				<div class="user-card__about">
					<h3>Micheal Scofield</h3>
					<h4>Jarroh</h4>
				</div>
			</div>
			<a [routerLink]="'/'" class="user-card-btn">Konsultatsiyaga yozilish</a>
		</div>
	</swiper-slide>
	<swiper-slide>
		<div class="card">
			<div class="user-card">
				<img src="assets/images/doctor.png" alt="doctor img">
				<div class="user-card__about">
					<h3>Micheal Scofield</h3>
					<h4>Jarroh</h4>
				</div>
			</div>
			<a [routerLink]="'/'" class="user-card-btn">Konsultatsiyaga yozilish</a>
		</div>
	</swiper-slide>
	<swiper-slide>
		<div class="card">
			<div class="user-card">
				<img src="assets/images/doctor.png" alt="doctor img">
				<div class="user-card__about">
					<h3>Micheal Scofield</h3>
					<h4>Jarroh</h4>
				</div>
			</div>
			<a [routerLink]="'/'" class="user-card-btn">Konsultatsiyaga yozilish</a>
		</div>
	</swiper-slide>
	<swiper-slide>
		<div class="card">
			<div class="user-card">
				<img src="assets/images/doctor.png" alt="doctor img">
				<div class="user-card__about">
					<h3>Micheal Scofield</h3>
					<h4>Jarroh</h4>
				</div>
			</div>
			<a [routerLink]="'/'" class="user-card-btn">Konsultatsiyaga yozilish</a>
		</div>
	</swiper-slide>
	<swiper-slide>
		<div class="card">
			<div class="user-card">
				<img src="assets/images/doctor.png" alt="doctor img">
				<div class="user-card__about">
					<h3>Micheal Scofield</h3>
					<h4>Jarroh</h4>
				</div>
			</div>
			<a [routerLink]="'/'" class="user-card-btn">Konsultatsiyaga yozilish</a>
		</div>
	</swiper-slide>
	<swiper-slide>
		<div class="card">
			<div class="user-card">
				<img src="assets/images/doctor.png" alt="doctor img">
				<div class="user-card__about">
					<h3>Micheal Scofield</h3>
					<h4>Jarroh</h4>
				</div>
			</div>
			<a [routerLink]="'/'" class="user-card-btn">Konsultatsiyaga yozilish</a>
		</div>
	</swiper-slide>
	<swiper-slide>
		<div class="card">
			<div class="user-card">
				<img src="assets/images/doctor.png" alt="doctor img">
				<div class="user-card__about">
					<h3>Micheal Scofield</h3>
					<h4>Jarroh</h4>
				</div>
			</div>
			<a [routerLink]="'/'" class="user-card-btn">Konsultatsiyaga yozilish</a>
		</div>
	</swiper-slide>
	<swiper-slide>
		<div class="card">
			<div class="user-card">
				<img src="assets/images/doctor.png" alt="doctor img">
				<div class="user-card__about">
					<h3>Micheal Scofield</h3>
					<h4>Jarroh</h4>
				</div>
			</div>
			<a [routerLink]="'/'" class="user-card-btn">Konsultatsiyaga yozilish</a>
		</div>
	</swiper-slide>
	<swiper-slide>
		<div class="card">
			<div class="user-card">
				<img src="assets/images/doctor.png" alt="doctor img">
				<div class="user-card__about">
					<h3>Micheal Scofield</h3>
					<h4>Jarroh</h4>
				</div>
			</div>
			<a [routerLink]="'/'" class="user-card-btn">Konsultatsiyaga yozilish</a>
		</div>
	</swiper-slide>
</swiper-container>