<div class="grid">
	<div class="col-12 md:col-12">
		<div class="card appointment-card">
			<ng-container *ngIf="($appointment | async) as appointment; else loading">
				<p-table 
					[value]="($appointment_service | async) ?? []"
					sortField="appointment_id" 
					sortMode="single" 
					[scrollable]="true" 
					scrollHeight="400px" 
					rowGroupMode="subheader" 
					[groupRowsBy]="'appointment.date'" 
					[tableStyle]="{'min-width': '60rem'}">
						<ng-template pTemplate="header">
							<tr>
								<th>Xizmat</th>
								<th>Doktor</th>
								<th>Narx</th>
								<th>Date</th>
								<th>Navbat</th>
							</tr>
						</ng-template>
						<ng-template pTemplate="groupheader" let-app_service>
							<tr pRowGroupHeader>
								<td colspan="5" class="text-center">
									<span class="font-bold ml-2">Qabul rajalashtirilgan sana:  {{app_service?.appointment?.date | date : 'dd.MM.yyyy'}}</span>
								</td>
							</tr>
						</ng-template>
						<ng-template pTemplate="groupfooter" let-app_service>
							<tr>
								<td colspan="5" class="text-right pr-6">
									<div *ngIf="paymentPrice(app_service?.appointment?.transactions) as pay; else payment_else">
										<p>Jami narx: {{app_service?.appointment?.price}} so'm</p>
										<p *ngIf="pay != 0">To'langan: {{ pay }} so'm</p>
										<p *ngIf="(app_service?.appointment?.price - pay) != 0">Qarz: {{ app_service?.appointment?.price - pay }} so'm</p>
									</div>
									<ng-template #payment_else >
										<p>Jami narx: {{app_service?.appointment?.price}} so'm</p>
										<p class="tag">Qarz: {{app_service?.appointment?.price}} so'm</p>
									</ng-template>
								</td>
							</tr>
						</ng-template>
						<ng-template pTemplate="body" let-app_service let-rowIndex="rowIndex">
							<tr>
								<td>
									{{app_service?.service?.name}}
								</td>
								<td>
									{{app_service?.staff?.fullname ? app_service?.staff?.fullname : '-'}}
								</td>
								
								<td>
									{{app_service?.price ? app_service?.price + ' so\'m' : '-'}}
								</td>
								<td>
									{{app_service?.queue_list?.date ? (app_service?.queue_list?.date | date : 'dd.MM.YYYY') : '-'}}
								</td>
								<td>
									{{app_service?.queue_list?.number ? 'N' + app_service?.queue_list?.number : '-'}}
								</td>
								<td>
									{{app_service?.date}}
								</td>
							</tr>
						</ng-template>
				</p-table>

				

				<!-- <ng-container *ngFor="let item of appointment">
					<p-card [header]="(item.date | date : 'dd.MM.YYYY') ?? 'Sana balgilanmagan'"
						[subheader]="item.patient.fullname">
						<ng-template pTemplate="header">
						</ng-template>
						<p *ngFor="let service of item.services">
							xizmat: {{service.service.name}} - doktor: {{service.staff.fullname}} -
							narx: <span>{{service.price}} so'm</span>
							navbat: <span>{{service.queue_list.date}} - {{service.queue_list.number}}</span>
						</p>
						<p *ngIf="item.discount">
							jami: {{item.price * 100/ (1 - item.discount)}} so'm * {{item.discount}} % = {{item.price}} so'm
						</p>
						<p *ngIf="!item.discount">
							jami: {{item.price}} so'm
						</p>
						<ng-template pTemplate="footer">
							<div class="flex gap-3 mt-1">
								<p-button label="Cancel" severity="secondary" class="w-full" styleClass="w-full" />
                                <p-button label="Save" class="w-full" styleClass="w-full" />
							</div>
						</ng-template>
					</p-card>
				</ng-container> -->
			</ng-container>
			
			<ng-template #loading>
				<div class="col-12 my-6 py-6">
					<div class="spinner">
						<p-progressSpinner ariaLabel="loading" />
					</div>
				</div>
			</ng-template>
		</div>
	</div>
</div>